
body{
	font:14px Helvetica Neue, Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: lighter;
}


body.bg-home{
	background: #ef3fac;
	color:#eee;
	
}

.vhide {
	visibility: hidden;
}


.animated {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}


.floating{


	animation-duration: 3.8s;	
	-webkit-animation-duration: 3.8s;

}

.floatingX{
	animation-name: floatingX;
	-webkit-animation-name: floatingX;

	animation-duration: 3.5s;	
	-webkit-animation-duration: 3.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floatingX {
	0% {
		transform: translateX(0%);	
	}
	50% {
		transform: translateX(15%);	
	}	
	100% {
		transform: translateX(0%);
	}			
}

@-webkit-keyframes floatingX {
	0% {
		-webkit-transform: translateX(0%);	
	}
	50% {
		-webkit-transform: translateX(15%);	
	}	
	100% {
		-webkit-transform: translateX(0%);
	}			
}


.floatingXBig{
	animation-name: floatingXBig;
	-webkit-animation-name: floatingXBig;

	animation-duration: 3.5s;	
	-webkit-animation-duration: 3.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floatingXBig {
	0% {
		transform: translateX(0%);	
	}
	50% {
		transform: translateX(105%);	
	}	
	100% {
		transform: translateX(0%);
	}			
}

@-webkit-keyframes floatingXBig {
	0% {
		-webkit-transform: translateX(0%);	
	}
	50% {
		-webkit-transform: translateX(105%);	
	}	
	100% {
		-webkit-transform: translateX(0%);
	}			
}




#homeMain{
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right:0;
	padding-top:15%;
	background: -webkit-linear-gradient(#00b8e4,#ef3fac );
    background: -o-linear-gradient(#00b8e4,#ef3fac); 
    background: -moz-linear-gradient(#00b8e4, #ef3fac); 
    background: linear-gradient(#00b8e4,#ef3fac); 
    
}

#homeContent{
	font-size: 20px;
	width:98%;
	margin:0 auto;
	
}

.circles{
	position: absolute;
	background:#fff;
}
#circle1{
	width: 100px;
	height:100px;
	border-radius: 100px;
	left:8%;
	top:5%;
	opacity: .2;
}

#circle2{
	width: 50px;
	height:50px;
	border-radius: 50px;
	left:6%;
	top:5%;
	opacity: .5;
}

#circle3{
	width: 10px;
	height:10px;
	border-radius: 10px;
	right:90px;
	top:345px;
	opacity: .3;
}

#circle4{
	width: 50px;
	height:50px;
	border-radius: 50px;
	right:10%;
	top:3%;
	opacity: .3;
}




#homeContent  header{
	text-align: center;
	
	height:210px;
}

#homeContent .hline{
	height:1px;
	border-bottom: #aae 1px solid;
}

#homeContent .avatar{
	margin:0 auto -30px auto;
	width:100px;
	height:100px;
	border-radius: 100px;
	border-bottom:3px solid #eee;
}

#homeContent .slogon{
	font-size:32px;
}
#homeContent .slogon strong{
	font-size: 60px;
	font-weight: normal;
	color:#cd3dcb;
}

#homeContent .menubar{
	width:90%;
	margin:0 auto;
	padding:0;
	font-size: 18px;
	
	
}
#homeContent .menubar li{
	float:left;
	width:25%;
	list-style: none;
	height:120px;
}	

#homeContent .menubar li a{
	padding:30px 0 0 0;
	margin:0 auto;
	display: block;
	height:30px;
	overflow: hidden;
	text-align: center;
}

#homeContent .menubar li a .cap{
	font-size: 28px;
	font-weight: normal;
}

#homeContent .menubar li a .word{
	opacity: .4;
	filter:alpha(opacity=40); 
}

#homeContent .menubar li a:link,#homeContent .menubar li a:visited{
	color:#ddd;
	text-decoration: none;
}
#homeContent .menubar li a:hover,#homeContent .menubar li a:active{
	color:#fff;
	width:auto;
}	
#homeContent .menubar li a:hover .word,
#homeContent .menubar li a:active .word{
	opacity:.8;
	filter:alpha(opacity=80); 
}

#homeContent .info{
	position: absolute;
	bottom:5px;
	right:5px;
	font-size:12px;
}


#homeContent .menubar:after{
	clear:both;
}

